<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ... (as suas permissões continuam aqui) ... -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelPhoto"
        android:usesCleartextTraffic="true">

        <!-- LoginActivity AGORA É A ATIVIDADE DE ARRANQUE -->
        <activity
            android:name="pt.ipt.dam2025.PhotoTravel.ui.LoginActivity"
            android:exported="true">  <!-- Alterado para "true" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity já não é a atividade de arranque -->
        <activity
            android:name="pt.ipt.dam2025.phototravel.MainActivity"
            android:exported="false" /> <!-- Alterado para "false" -->

    </application>

</manifest>
